<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cliente</title>
</head>
<body>
<header>
  <h1><img width="458px" height="230px" src="/logo.png" alt="FerreChinuSAS"></h1>
  <h2>Módulo de clientes</h2>
  <h3>Eliminar un cliente</h3>
</header>
<main>
  <p>El cliente no se encuentra registrado, los datos son incorrectos o existen restricciones por la integridad de los datos.</p>
  <p>Cliente no eliminado.</p>
  <a href="/eliminar"><p>Editar registro.</p></a>
  <a href="/"><p>Regresar al modulo principal de clientes</p></a>
</main>
<footer>
  <address>Chinú (Córdoba) - (R) Todos los derechos reservados.</address>
</footer>
</body>
</html>