<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
</head>
<body>
<header>
    <h1><img width="458px" height="230px" src="/logo.png" alt="FerreChinuSAS"></h1>
    <h2>Módulo de clientes</h2>
    <h3>Consultar un cliente</h3>
</header>
    <main>
        <p>Revisar la terminal para ver el registro del cliente.</p>
        <p>Pagina en construcción.</p>
        <form>
            <div><label for="doc">Documento: </label><input type="text" value="*{doc}" name="doc" id="doc"></div>
            <div><label for="num">Numero: </label><input type="number" maxlength="21" value="*{num}" name="num" id="num"></div>
            <div><label for="num">Nombre: </label><input type="text" maxlength="45" value="*{nom}" name="nom" id="nom"></div>
            <div><label for="bar">Barrio: </label><input type="text" maxlength="45" value="*{bar}" name="bar" id="bar"></div>
            <div><label for="dir">Dirección: </label><input type="text" maxlength="45" value="*{dir}" name="dir" id="dir"></div>
            <div><label for="cel">Celular: </label><input type="number" maxlength="10" value="*{cel}" name="cel" id="cel"></div>
            <div><label for="cor">Correo: </label><input type="email" maxlength="45" value="*{cor}" name="cor" id="cor"></div>
            <div><label for="cla">Clave: </label><input type="password" maxlength="21" value="*{cla}" name="cla" id="cla"></div>
            <div><button type="submit">Registrar</button></div>
            <div><button type="reset">Cancelar</button></div>
            <a href="/"><div><button>Regresar</button></div></a>
        </form>
    </main>
    </body>
    </html>